{% load static %}
<nav class="navbar navbar-dark bg-dark my_nav" xmlns="http://www.w3.org/1999/xhtml">
  <div>
    <a class="navbar-brand" href="/">
      <img src="{% static "favicon.png" %}"><strong
        style="font-size: 28px; vertical-align: bottom">Tube</strong>
    </a>
  </div>
  <nav class="my-2 my-md-0 mr-md-3">
    {% if user.is_authenticated %}
      <div class="btn-group">
        <button type="button" class="btn btn-outline-light"
                onclick="window.location.href = {% url "posts:profile" user.username %};">
          <b>@{{ user.username }}</b>
        </button>
        <button type="button"
                class="btn btn-outline-light dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item"
             href="{% url "posts:profile" user.username %}">
            @{{ user.username }}
          </a>
          <a class="dropdown-item" href="{% url "posts:new_post" %}">
            Добавить пост
          </a>
          <a class="dropdown-item" href="{% url 'password_change' %}">
            Изменить пароль
          </a>
          <div class="dropdown-divider text-light"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
        </div>
      </div>
    {% else %}
      <a class="p-2 text-light" href="{% url 'login' %}">Войти</a> |
      <a class="p-2 text-light" href="{% url 'signup' %}">Регистрация</a>
    {% endif %}
  </nav>
</nav>
